<!doctype html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Simon Says</title>
    <script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script type="text/javascript" charset="utf-8">
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        var id = '';
        var pressedColor = [];
        var lengthOfGame = 0;

        function sendColor(color) {

            pressedColor.push(color);
        }

        socket.on("send colors to server", function (msg) {
            console.log(pressedColor)
            console.log(lengthOfGame)
            console.log(pressedColor.length == lengthOfGame)
            if (pressedColor.length == lengthOfGame || 1 == 1) {
                if (socket) {
                    console.log("SENDING DATA: " + JSON.stringify({ uuid: id, data: pressedColor }))
                    socket.emit("colorArray", { uuid: id, data: pressedColor });
                }
            }
        });

        socket.on("connect_response", function (msg) {
            console.log("response from server")
            console.log(msg)
            id = msg['id']
        });

        socket.on("recvWinFromServer", function (msg) {
            console.log("RECEIVED THIS FROM SERVER: " + JSON.stringify(msg));
            document.getElementById("winnerAlert").innerHTML = msg
            document.getElementById("winnerAlert").outerHTML = msg
        });

        socket.on("start game", function (msg) {
            console.log("Game started");
            console.log(msg["lengthOfGame"]);
            lengthOfGame = msg["lengthOfGame"];
            console.log(lengthOfGame)
            pressedColor = [];
        });
    </script>
</head>


<!--#eb9534; ORANGE  -->

<body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #000000;">
        <a class="navbar-brand" href="#">
            <img src="https://image.dfrobot.com/image/catalog/logo.png" width="187" height="42"
                class="d-inline-block align-top" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" style=" font-size: x-large;" href="/">Home <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style=" font-size: x-large;" href="/scores">High Scores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style=" font-size: x-large;" href="/store">Store</a>
                </li>

        </div>
    </nav>
    <div id="winnerAlert">

    </div>
    <div class="container">
        <br>
        <div class="row">
            <% cardColors=["bg-primary","bg-success","bg-danger","bg-secondary"] %>
            <% realColors=["BLUE","GREEN","RED","GREY"] %>
            <% for (var i =0; i <=4;  i++ ) { %>
            <div class="col-sm" style="width: 50%;padding-left: 5px;padding-right: 5px;">
                <div class="card text-white {{cardColors[i]}} mb-2" style="vertical-align: middle; height: 250px;"
                    id={{realColors[i]}} onclick="sendColor(id);">
                    <div class="card-img-overlay" style="text-align: center;">
                        <div style="height: 90px;"></div>
                        <h5 class="card-title">DFRobot Says</h5>
                        <h5 class="card-title"><%= realColors[i]%></h5>
                    </div>
                </div>
                <div class="card text-white {{cardColors[i+2]}} mb-2" style="height: 250px;" id={{realColors[i+2]}}
                    onclick="sendColor(id);">
                    <div class="card-img-overlay" style="text-align: center; padding: 0px;">
                        <div style="height: 90px;"></div>
                        <h5 class="card-title">DFRobot Says</h5>
                        <h5 class="card-title"><%= realColors[i]%></h5>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
    </div>

    <!--
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script> 
    
    -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>