<head>
    <% include ./helperScripts/goodscripts.ejs %>
</head>

<body>
    <% include ./helperScripts/navbar.ejs %>
    <div>
        <h1 style="text-align: center; text-decoration: underline;">
            HIGHSCORES
        </h1>
        <p>
            <% var users= Object.keys(highscores);%>
            <%for(var i=0;i<users.length;i++){ %>
            <h2 style="text-align: center;"><%= users[i]+" " +highscores[users[i]] %></h2>
            <%}%>
        </p>
    </div>
</body>